@media only screen and (max-width: 500px){
#projects{
	font-size: 20px;

}
.skill
{
	text-align: center;
}
body img
{
	position: absolute;
	top:0;
	left:0;
}
}

body 
{
	background:url('images/photo2.jpg') no-repeat center center fixed;
	background-size:cover;

	overflow-x: hidden;
}
#role{
	padding-top:80px;
	}
p{
	padding-left: 100px;
	font-size: 30px;
}
#skills
{
	font-size: 18px;
font-family:'Montserrat';
}
#skills img{
	padding-left: 200px;
}
#skills p {
	font-size: 20px;
}
#skills h3,ul{
	padding-left: 100px;
}
#projects{
	font-family:'Montserrat';
	font-size:18px;
}
.btn
{
	border-radius: 50px;
}
footer h2{
	text-align: center;
	
}
footer a{
	color: black;
	
	text-decoration: none !important;
}
footer a:hover{
	color:#e75480;
}
.copyright{
	padding: 20px 0;
	  
}
.textofskill
{
	  width: 30%;
  margin: 100px auto;
  text-align: left;

}